.main {
    padding: 1px;
    margin: 0;
  }
  
  .header-divider {
    border-top: 2px solid #ff8c00;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .book-image img {
    width: 200px;
  }
  header {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pc-nav {
    text-align: right;
  }